<html>

<head>
    <style>
        tbody tr:nth-child(odd) {
            background-color: #ccc;
        }
    </style>

</head>

<body>
    <div id="app">
        <div>
            <p><a href="javascript:history.back()">Back</a> | url:<input v-model="baseUrl"></input>
            </p>
        </div>
        <hr>
        <div>
            <h2>Login</h2>
            <p>path:${applicationPath}</p>
            <label>Email:
                <input v-model="email">
                <select v-model="selectedEmail">
                    <option v-for="email in emails">${email}</option>
                </select>
            </label>
            <label>Password:
                <input v-model="password"/>
                <select v-model="selectedPassword">
                    <option v-for="password in passwords">${password}</option>
                </select>
            </label>
            <button v-on:click="login">Login</button>
            <p>Token:<textarea cols="100" rows="3">${token}</textarea></p>
        </div>

        <div>
            <h2>Messaging<span v-if="messagingWs != null"> - OPEN</span></h2>
            <p>
                path:${messagingPath}
                <button v-on:click="openMessagingWS">Open</button>
                <button v-on:click="closeMessagingWS">Close</button>
            </p>
            <label>Project id:<input type="number" v-model="project_id" /></label>
            <div>
                <textarea cols="80" v-model="messagingMessage"></textarea>
                <button v-on:click="sendToMessagingWS">Send</button>
            </div>
            <table>
                <thead>
                    <th>userId</th>
                    <th>userType</th>
                    <th>username</th>
                    <th>text</th>
                    <th>timestamp</th>
                    <th>projectId</th>
                </thead>
                <tbody>
                    <tr v-for="msg in messagingMessages">
                        <td>${msg.userId}</td>
                        <td>${msg.userType}</td>
                        <td>${msg.username}</td>
                        <td>${msg.text}</td>
                        <td>${msg.timestamp}</td>
                        <td>${msg.projectId}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Notification<span v-if="notificationWs != null"> - OPEN</span></h2>
            <p>
                path:${notificationPath}
                <button v-on:click="openNotificationWS">Open</button>
                <button v-on:click="closeNotificationWS">Close</button>
            </p>
            <table>
                <thead>
                    <th>from</th>
                    <th>to</th>
                    <th>type</th>
                    <th>data</th>
                    <th>timestamp</th>
                    <th>read</th>
                </thead>
                <tbody>
                    <tr v-for="msg in notificationMessages">
                        <td>ID:${msg.from.id}, Type:${msg.from.type}</td>
                        <td>
                            <p v-for="to in msg.to">ID:${to.id}, Type:${to.type}</p>
                        </td>
                        <td>${msg.type}</td>
                        <td>
                            <p v-for="(value, key) in msg.data">${key}: ${value}</p>
                        </td>
                        <td>${msg.timestamp}</td>
                        <td>${msg.read}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@2.0.3/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            baseUrl: 'local.fairlance.io:8080',
            // login
            emails: ['first@mail.com', 'second@mail.com', 'client@mail.com'],
            passwords: ['Pass', '123456'],
            selectedEmail: 'first@mail.com',
            selectedPassword: 'Pass',
            email: 'first@mail.com',
            password: 'Pass',
            token: '',
            applicationPath: '/api/application',
            // messaging
            messagingPath: '/api/messaging',
            messagingMessages: [],
            messagingWs: null,
            messagingMessage: '',
            project_id: 1,
            // notification
            notificationPath: '/api/notification',
            notificationMessages: [],
            notificationWs: null,
            notificationMessage: '',
        },
        watch: {
            selectedEmail: function (event) {
                this.email = this.selectedEmail;
            },
            selectedPassword: function (event) {
                this.password = this.selectedPassword;
            },
        },
        computed: {
            sendNotificationUrl: function () {
                return this.baseUrl + this.notificationPath + '/send'
            }
        },
        methods: {
            login: function (event) {
                var self = this;
                axios.post('http://' + this.baseUrl + this.applicationPath + '/login', {
                    email: this.email,
                    password: this.password,
                })
                    .then(function (response) {
                        if (response.data.code == 200) {
                            self.token = response.data.data.token;
                        }
                        console.log("login:", response);
                    })
                    .catch(function (error) {
                        this.closeMessagingWS();
                        console.log("login:", error);
                    })
            },
            openMessagingWS: function (event) {
                if (this.messagingWs != null) {
                    return;
                }
                var self = this;
                this.messagingWs = new WebSocket('ws://' + this.baseUrl + this.messagingPath + "/" + this.project_id + "/ws?token=" + this.token);
                this.messagingWs.onopen = function (event) {
                    console.log("messagingWs.onopen:", event.data);
                };
                this.messagingWs.onmessage = function (event) {
                    self.messagingMessages = self.messagingMessages.concat(JSON.parse(event.data))
                    console.log("messagingWs.onmessage:", event.data);
                };
                this.messagingWs.onerror = function (event) {
                    self.messagingWs = null;
                    alert("failed");
                    console.log("messagingWs.onerror:", event);
                };
            },
            sendToMessagingWS: function (event) {
                this.messagingWs.send(this.messagingMessage);
                this.messagingMessage = '';
            },
            closeMessagingWS: function (event) {
                if (this.messagingWs != null) {
                    this.messagingWs.close();
                    this.messagingWs = null;
                    this.messagingMessages = [];
                }
            },
            openNotificationWS: function (event) {
                if (this.notificationWs != null) {
                    return;
                }
                var self = this;
                this.notificationWs = new WebSocket('ws://' + this.baseUrl + this.notificationPath + "/ws?token=" + this.token);
                this.notificationWs.onopen = function (event) {
                    console.log("notificationWs.onopen:", event.data);
                };
                this.notificationWs.onmessage = function (event) {
                    self.notificationMessages = self.notificationMessages.concat(JSON.parse(event.data))
                    console.log("notificationWs.onmessage:", event.data);
                }
                this.notificationWs.onerror = function (event) {
                    self.notificationWs = null;
                    alert("failed");
                    console.log("notificationWs.onerror:", event);
                };
            },
            closeNotificationWS: function (event) {
                if (this.notificationWs != null) {
                    this.notificationWs.close();
                    this.notificationWs = null;
                    this.notificationMessages = [];
                }
            },
        }
    })

</script>

</html>